//text
$title_size_pc: 35pt;
$title_size_tablet: 20pt;
$title_size_tlm: 16pt;

$color-menu: #000;
$menu_size_pc:12pt;
$menu_size_tablet:8pt;
$menu_size_tlm:20pt;
$green: #6fc;
$shadow: rgba(0, 0, 0, 0.2);
$gray: #666;

$text_size_pc: 10pt;
$text_size_tlm: 8pt;

//images
$image_size_pc:70%;
$image_size_tlm:100%;

//
