//text
$title_size_pc: 50pt;
$title_size_tablet: 30pt;
$title_size_tlm: 18pt;

$color-menu: #000;
$menu_size_pc:12pt;
$menu_size_tablet:8pt;
$menu_size_tlm:20pt;
$color-hover: #03c;

$text_size_pc: 10pt;
$text_size_tlm: 8pt;

//images
$image_size_pc:70%;
$image_size_tlm:100%;

//
