@import "variables";
@import "reset";

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  width: 70%;
  line-height: 110%;
}

p{
  padding-bottom: 10px;
}

//nav
nav{
  height: 100px;
}

#logo {
 position: fixed;
 top: 20px;
 left: 30px;
 width: 50px;
 height: 50px;
 background-image: url('imagens/logo_1.svg');
}

#logo:hover {
   background-image: url('imagens/logo_2.svg');
}

a{
  color: $gray;
  text-decoration: none;
}
a:hover{
  color: $green;
}

#about{
  position: fixed;
  top: 35px;
  right: 30px;
  color: #000;
  font-size: $menu_size_pc;
  font-weight: 600;
}

#about:hover{
  color: #000;
  border-bottom: solid 4px $green;
}


//fim

footer{
  font-size: 9pt;
  color: $gray;
  background-color: #fff;
  position:fixed;
  bottom: 0px;
  left: 0px;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
//content

//work

#work{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  margin-bottom: 300px;
}

.work img{
  border-radius:2%;
  overflow:hidden;
  transition: width 0.05s ease-in;
  width: 18vw;
  margin: 15px;
  box-shadow: 10px 10px $shadow;
}

.work img:hover{
  width: 20vw;
  margin: 15px;
  box-shadow: 10px 10px $green;
}

.title{
  margin-left: 15px;
}

.tag{
  margin-left: 25px;
  color: $gray;
  font-size: 8pt;
}

#projeto1{
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  margin: 150px 0px 10% 15%;
  width: 70%;
  border-radius:2%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 10px 10px $shadow;
}

#projeto1 p{
  width: 80%;
  margin: 40px 0px 40px 0px;
}


#fechar {
 width: 30px;
 height: 30px;
 background-image: url('imagens/fechar.svg');
 background-repeat: no-repeat;
 position:absolute;
 right: 5vw;
}

#projeto1 img, iframe{
  padding: 15px;
  width: 60%;
}

#fechar:hover {
   background-image: url('imagens/fecharhover.svg');
}

#sombra{
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 260vh;
}

//about

#social{
  display: flex;
  justify-content: center;
}

#social li{
margin-right: 15px;
font-size: 18pt;
}

#social li img{
  height: 20px;
}

h1{
  border-style: dashed;
  color: $color-menu;
  text-align: center;
  font-weight: 700;
  font-size: $title_size_pc;
  padding: 50px 0% 5% 0%;
}

h2{
  color: $green;
  text-align: center;
  font-weight: 700;
  font-size: $title_size_pc;
  margin-bottom: 50px;
  line-height: 120%;
}

#about_text{
  margin-bottom: 50px;
}


@media screen and (max-width: 960px) {
  //ecras de tablets portrait

  .work img{
    width: 60vw;
  }

  .work img:hover{
    width: 62vw;
  }

h1{
  font-size: $title_size_tablet;
}

li{
  font-size: $menu_size_tablet;
}
}
@media screen and (max-width: 765px) {

  body{
    font-size: $text_size_tlm;
  }
  h1{
    font-size: $title_size_tlm;
  }
  h2{
    margin-bottom: 20px;
    font-size: $title_size_tlm;
  }



  .other_images{
    width: $image_size_tlm;}
  }

  #social li{
  flex-direction: row;
  margin-right: 5px;
  font-size: 8pt;
  }

  #social li img{
    height: 2vw;
  }
