@import "variables";
@import "reset";

body{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    width: 70%;
}

//menu
#home{
  width: 10%;
  position: absolute;
  top:50px;
  left:5%;
}

a{
  color: #000;
  text-decoration: none;
}
a:hover{
  color: $color-hover;
}

.dropdown{
  display: none;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li{
  padding: 50px 0px 10px 15px;
  font-size: $menu_size_pc;
  font-weight: 600;
}

//content

h1{
  color: $color-menu;
  text-align: center;
  font-weight: 700;
  font-size: $title_size_pc;
  padding: 10% 0% 5% 0%;
}

#main_image{
  width:100%;
}

.description{
  margin: 50px 0px 80px 0px;
  font-weight: 300;
  font-size: $text_size_pc;
  line-height: 1.5;
  text-indent: 1em;
}

iframe{
  width:$image_size_pc;
  display: block;
  margin: 0 auto;
}

.other_images{
  width: $image_size_pc;
  padding-bottom: 10%;
  display: block;
  margin: 0 auto;
}


@media screen and (max-width: 1600px) {
  //ecras de portatil e landscape tablets
}


@media screen and (max-width: 960px) {
  //ecras de tablets portrait
h1{
  font-size: $title_size_tablet;
}

li{
  padding: 50px 0px 10px 15px;
  font-size: $menu_size_tablet;
}
}
@media screen and (max-width: 765px) {

//menus
  /* Dropdown Button */
  .dropbtn {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: flex;
      justify-content: flex-end;
  }

  #tracinhos{

    margin-top: 15px;
    width: 30px;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position:fixed;
      top: 50px;
      right: 15%;
      background-color: #fff;
      min-width: 160px;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: flex;
      justify-content: flex-end;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  .show {display:block;}

  #menu{
    display: none;
  }


  h1{
    font-size: $title_size_tlm;
  }

  .other_images{
    width: $image_size_tlm;
  }

}
